<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <img id="logo" src="../static/monomuseLogo.png" alt="MonoMuse Museum Logo">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html" id="navselected">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <img src="../static/museum.jpg" width="50%" alt="Explore Image">
    <h3>Mission Statement</h3>
    <p>MonoMuse is a contemporary museum dedicated to exploring the intersection of art, technology, and human creativity.</p>
    <h3>Milestones</h3>
    <ul>
        <li>2020: MonoMuse opens its doors to the public with its inaugural exhibition, "Digital Dreams."</li>
        <li>2021: The museum hosts its first virtual reality art exhibition, attracting over 50,000 visitors online.</li>
        <li>2022: MonoMuse collaborates with local schools to launch an educational program focused on STEAM (Science, Technology, Engineering, Art, and Math).</li>
        <li>2023: The museum expands its physical space to include a new wing dedicated to interactive installations and digital art.</li>
    </ul>
    <footer>
        <p>&copy; 2023 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>