<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exhibitions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <div class="container">
    <header class="header">
        <img id="logo" src="../static/monomuseLogo.png" alt="MonoMuse Museum Logo">
    </header>
    <nav class="nav_bar">
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="buytickets.html">Buy Tickets</a>
    </nav>
    <main class="main">
    <h3>Exhibition 1: Digital Dreams</h3>
    <p>Experience the fusion of art and technology in our inaugural exhibition, "Digital Dreams." This immersive showcase features cutting-edge digital artworks that explore the boundaries of creativity in the digital age.</p>
    <h3>Exhibition 2: Virtual Realities</h3>
    <p>Step into the world of virtual reality art with our "Virtual Realities" exhibition. This collection of interactive installations and VR experiences invites visitors to explore new dimensions of artistic expression through</p>
    </main>
    <footer class="footer">
        <p id="copyYear"></p>
    </footer>
    </div>
</body>
</html>