<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exhibitions</title>
</head>
<body>
    <h1>Exhibitions</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
    <h3>Exhibition 1: Digital Dreams</h3>
    <p>Experience the fusion of art and technology in our inaugural exhibition, "Digital Dreams." This immersive showcase features cutting-edge digital artworks that explore the boundaries of creativity in the digital age.</p>
    <h3>Exhibition 2: Virtual Realities</h3>
    <p>Step into the world of virtual reality art with our "Virtual Realities" exhibition. This collection of interactive installations and VR experiences invites visitors to explore new dimensions of artistic expression through</p>
    <footer>
        <p>&copy; 2023 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>